
/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: black;
    padding: 30px 60px;
    font-family: 'Inter';
    height: auto;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}
.first-footer-container {
    max-width: 500px;
    margin-right: 20px;
}
.footer-logo {
    height: 70px;
    margin-bottom: 30px;
}
.first-footer-container > p {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 30px;
}

.footer-social-icon {
    display: flex;
}
.social-media {
    font-size: 25px;
    margin-right: 20px;
    
    cursor: pointer;
}

.mobile-social-icon {
    display: none;
}

.footer-link {
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    margin-right: 50px;
}
.links {
    line-height: 50px;
}
.links > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.links > p {
    font-family: 'Futura Bk BT';
    color: #888888;
    font-weight: 400;
    font-size: 1.2rem;
}

.all-right-reserved {
    text-align: center;
    font-size: 1rem;
}


@media only screen and (max-width: 900px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 60px;
    }
    .footer-items {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .first-footer-container {
        text-align: center;
    }
    .footer-logo {
        height: 50px;
        margin-bottom: 20px;
    }
    .first-footer-container > p {
        font-size: 0.9rem;
        line-height: 20px;
    }

    .social-icon-container {
        display: none;
    }
    .mobile-social-icon {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-top: 20px;
    }
    .mobile-social-media {
        font-size: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .footer-link {
        column-gap: 20px;
        row-gap: 0px;
        margin: 0;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
    }
    .links {
        line-height: 35px;
    }
    .links > a {
        font-size: 1.2rem;
    }
    .footer-home-link, .footer-about-link {
        margin-bottom: 20px;
    }
    .links > p {
        font-size: 1rem;
    }

    .all-right-reserved {
        font-size: 0.8rem;
    }
}