.about-page {
    font-family: "Inter";
    overflow: hidden;
}
.header {
    background-color: #f5f5f5;
}
.header-content {
    width: 100%;
    padding: 2rem 0;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.content img {
    object-fit: contain;
    width: 300px;
    height: 225px;
    margin-right: 10rem;
}

/*  About - section */
.about-content {
    width: 100%;
    background-color: #f5f5f5;
    padding: 3rem;
}
.our-values__img {
    width: 100px;
    height: 100px;
}

/* what-we-do */
.what-we-do ul {
    list-style-type: none;
}
.what-we-do ul li {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
/* overlays */
.overlay-content {
    margin-left: 100px;
}
@media only screen and (max-width: 992px) {
    .content img {
        margin-right: 2rem;
    }
    .image__box {
        width: 100%;
    }
    .our-values__box {
        margin-left: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .about-content {
        padding: 3rem 1rem;
    }
    .image-box {
        margin: 0;
        margin-bottom: 30px;
    }
    .overlay-content {
        margin-left: 0;
        text-align: center;
    }

    .overlay-desc {
        line-height: 1.5;
        word-wrap: break-word;
        width: 70%;
    }
    .image__box,
    .about-box {
        border-radius: 0;
    }

    .our-values__img {
        width: 70px;
        height: 70px;
    }
    .content img {
        width: 150px;
        margin-right: 2rem;
    }
}
