
.home-page {
    height: 100vh;
}

.landing-page {
    display: flex;
    position: relative;
    background: var(--white);
    height: 100%;
}

.text-container {
    position: relative;
    color: var(--purple);
    font-family: 'Inter';
    height: 100%;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.text-container > h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    font-weight: 900;
}

.text-container > h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.colored-text {
    color: var(--lightgreen);
}
.text-container > p {
    font-size: 1.3rem;
    font-family: 'Futura Bk BT';
    margin-bottom: 50px;
}
.btn-container {
    display: flex;
}
.landing-page-btn {
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 18px;
    width: fit-content;
    text-align: center;
    border: 3px solid var(--purple);
}
.get-started {
    background: var(--purple);
    color: var(--white);
    margin-right: 10px;
}
.contact-us {
    color: var(--purple);
}

.landing-image-container {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.landing-image-container > img {
    height: auto;
    width: 600px;
}


@media screen and (max-width: 1200px) {
    .landing-image-container > img {
        width: 500px;
    }
}
@media screen and (max-width: 992px) {
    .text-container {
        padding-left: 30px;
    }
    .text-container > h1 {
        font-size: 3rem;
    }

    .text-container > h2 {
        font-size: 2.5rem;
    }
    .text-container > p {
        font-size: 1rem;
    }

    .landing-page-btn {
        padding: 10px 20px;
        border-radius: 100px;
        font-size: 18px;
    }

    .landing-image-container {
        padding-right: 20px;
    }
    .landing-image-container > img {
        width: 400px;
    }
}


@media screen and (max-width: 768px) {
    .text-container {
        padding-left: 30px;
    }

    .landing-page-btn {
        padding: 10px 20px;
        border-radius: 100px;
        font-size: 16px;
    }

    .landing-image-container {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    .landing-image-container > img {
        height: auto;
        width: 350px;
    }

}

@media screen and (max-width: 500px) {
    .get-started-link {
        width: 100%;
    }
    .text-container {
        padding: 0 50px;
    }
    .text-container > h1 {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
    .text-container > p {
        margin-bottom: 50px;
    }
    .male-writer {
        top: 25%;
        right: 35%;
    }
}

/*features-section */
.features-heading {
    text-align: center;
    padding: 30px 50px;
    margin-bottom: 50px;
}
.features-heading > h1 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--purple);
    margin-bottom: 20px;
}

.features-heading > p {
    font-family: 'Futura Bk BT';
    color: #000;
    font-size: 1.5rem;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 0 50px;
    /* background: red; */
}

.features-image-container {
    width: 400px;
    border: 3px solid var(--lightgreen);
    height: fit-content;
    margin-right: 30px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.features-image-container > img {
    width: inherit;
    height: auto;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: relative;
    bottom: 10px;
    right: 20px;
}

.features-text-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-text-container > h1 {
    font-family: 'Inter';
    font-size: 2rem;
    color: var(--purple);
    margin-bottom: 20px;
    font-weight: 700;
}
.features-text-container > p {
    font-family: 'Futura Bk BT';
    font-size: 1.3rem;
}

.reversed {
    display: flex;
    flex-direction: row-reverse;
}

.reversed-image {
    margin-left: 30px;
}

.reversed-image > img {
    width: inherit;
    height: auto;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: relative;
    top: 10px;
    left: 20px;
}

.social-icon-container {
    display: flex;
    justify-content: space-between;
    background: var(--purple);
    padding: 10px 30px;
    margin-top: 20px;
    width: 200px;
    border-radius: 100px;
}
.social-icon {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}