
.home-page {
    height: 100vh;
}

.landing-page {
    display: flex;
    justify-content: space-around;
    position: relative;
    background: var(--white);
    height: 100%;
}

.text-container {
    position: relative;
    color: var(--purple);
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 5%;
    /* background-color: red; */
}

.text-container > h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    font-weight: 900;
}

.text-container > h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.colored-text {
    color: var(--lightgreen);
}
.text-container > p {
    font-size: 1.3rem;
    font-family: 'Futura Bk BT';
    margin-bottom: 50px;
}
.small-btn-container {
    display: none;
}
.btn-container {
    display: flex;
}
.landing-page-btn {
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 18px;
    width: fit-content;
    text-align: center;
    border: 3px solid var(--purple);
}
.get-started {
    background: var(--purple);
    color: var(--white);
    margin-right: 10px;
}
.contact-us {
    color: var(--purple);
}

.landing-image-container {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 5%;
    /* background: green; */
}

.landing-image-container > img {
    height: auto;
    width: 90%;
}

.angledown {
    font-size: 2.3rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
    font-weight: lighter;
    color: gray;
}


/*features-section */
.features-section {
    background: var(--white);
}

.features-heading {
    text-align: center;
    padding: 30px 50px;
    margin-bottom: 50px;
}
.features-heading > h1 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--purple);
    margin-bottom: 20px;
}

.features-heading > p {
    font-family: 'Futura Bk BT';
    color: #000;
    font-size: 1.5rem;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8%;
    padding: 0 2%;
}

.features-image-container {
    width: 450px;
    border: 3px solid var(--lightgreen);
    height: fit-content;
    margin-right: 30px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.features-image-container > img {
    width: inherit;
    height: auto;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: relative;
    bottom: 10px;
    right: 20px;
}

.features-text-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-text-container > h1 {
    font-family: 'Inter';
    font-size: 2rem;
    color: var(--purple);
    margin-bottom: 20px;
    font-weight: 700;
}
.features-text-container > p {
    font-family: 'Futura Bk BT';
    font-size: 1.3rem;
}

.reversed {
    display: flex;
    flex-direction: row-reverse;
}

.reversed-image {
    margin-left: 30px;
}

.reversed-image > img {
    width: inherit;
    height: auto;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: relative;
    top: 10px;
    left: 20px;
}

.features-social-media {
    margin-bottom: 0;
}

.home-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--purple);
    padding: 10px 20px;
    margin-top: 20px;
    width: 200px;
    border-radius: 100px;
}
.social-icon {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.angle-right {
    font-size: 1rem;
}

.illustration-image-section {
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 80px;
}
.illustration-img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.illustration-text {
    background: #D9D9D9;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Futura Bk BT';
}

.contributors {
    background: var(--white);
    padding-block: 50px;
}
.testimonial-section {
    background: var(--white);
    padding-block: 50px;
}

.subscribe-container {
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
}

.subscribe-container > h1 {
    font-size: 2rem;
    font-family: 'Inter';
    color: var(--purple);
    margin-bottom: 20px;
}

.subscribe-container > p {
    font-size: 1.5rem;
    font-family: 'Futura Bk BT';
    margin-bottom: 50px;
}

.subsribe-input {
    display: flex;
    justify-content: center;
}
.subsribe-input > input {
    padding: 10px 40px;
    border-radius: 30px;
    font-family: 'Inter';
    font-size: 1.2rem; 
}
.subscribe-email {
    border: 3px solid white;
    background: white;
    margin-right: 20px;
    box-shadow: 2px 2px 10px gray;
     
}
.subscribe-email:focus {
    outline: none;
}
::placeholder {
    font-size: 1rem;
    color: rgba(13, 55, 103, 0.42);
}
.subscribe-btn {
    border: 3px solid var(--purple);
    color: var(--purple);
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .landing-page {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background: red; */
        padding: 5%;
    }
    .text-container > h1 {
        font-size: 4rem;
    }

    .landing-image-container {
        height: fit-content;
        display: flex;
        justify-content: center;
        padding: 2%;
        margin-bottom: 5%;
    }
    
    .landing-image-container > img {
        height: auto;
        width: 70%;
    }
    
    .angledown {
        display: none;
    }

    .landing-page-btn {
        display: none;
    }

    .small-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
    .small-landing-page-btn {
        padding: 10px 30px;
        border-radius: 100px;
        font-size: 18px;
        width: 100%;
        text-align: center;
        font-family: 'Inter';
        border: 3px solid var(--purple);
    }
    .small-get-started {
        background: var(--purple);
        color: var(--white);
        margin-bottom: 2%;
    }
    .small-contact-us {
        color: var(--purple);
    }
}
