html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pg {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 200px;
}

.pg-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pg-header {
    color: #0D3767;
    font-weight: 800;
    font-size: 3.0rem;
    font-family: Inter;
}

.pg-line {
    width: 130px;
    color: #2DB68F;
    border: 3px solid #2DB68F;
}

.pg-text {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    width: 30vw;
    font-family: Futura;
    line-height: 28px;
    color: #0D3767;
}

.pg-img {
    width: 20%;
}

.pg-article {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pg-article-flex, .pg-article-flex-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.pg-article-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pg-article-header {
    color: #0D3767;
    font-size: 3.0rem;
    font-weight: 800;
    font-family: Inter;
}

.pg-article-text {
    color: #0D3767;
    font-size: 1.8rem;
    line-height: 36px;
    font-weight: 400;
    font-family: Futura;
    width: 38vw;
}

.pg-article-btn {
    background-color: #2DB68F;
    border-radius: 75px;
    border: none;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #F5F5F5;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: Inter;
    cursor: pointer;
}

.pg-article-img {
    width: 25%;
}

.programs-bg {
    background-image:
        url("https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    border-radius: 15px;
    width: 70%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 200px;
}

.programs-bg-1 {
    background: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(4.5px);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.programs-text {
    color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    line-height: 30px;
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
}

.programs-text-green {
    color: #2DB68F;
}

@media screen and (max-width: 480px) {
    .pg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .pg-text {
        font-size: 1.8rem;
        width: 80vw;
    }

    .pg-img {
        width: 70%;
    }

    .pg-article-flex {
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
    }

    .pg-article-flex-1 {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .pg-article-header {
        font-size: 2.5rem;
    }

    .pg-article-text {
        font-size: 1.8rem;
        width: 80vw;
    }

    .pg-article-btn {
        font-size: 1.5rem;
        font-weight: 800;
        width: 90%;
    }

    .pg-article-img {
        width: 80%;
        /* height: 50vh; */
    }

    .programs-bg-1 {
        width: 70%;
    }

    .programs-text {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 895px) {
    .pg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .pg-text {
        font-size: 1.8rem;
        width: 80vw;
    }

    .pg-img {
        width: 70%;
    }

    .pg-article-flex {
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
    }

    .pg-article-flex-1 {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .pg-article-header {
        font-size: 2.5rem;
    }

    .pg-article-text {
        font-size: 1.8rem;
        width: 70vw;
    }

    .pg-article-btn {
        font-size: 1.5rem;
        width: 80%;
    }

    .pg-article-img {
        width: 50%;
    }

    .programs-bg-1 {
        width: 70%;
    }

    .programs-text {
        font-size: 1.8rem;
        width: 30%;
    }
}

@media screen and (min-width: 896px) and (max-width: 1200px) {
    .pg-article-header {
        font-size: 2.5rem;
    }

    .pg-article-text {
        font-size: 1.8rem;
    }

    .pg-article-btn {
        width: 90%;
        font-size: 1.8rem;
    }

    .pg-article-img {
        width: 25%;
    }
}

