@font-face {
    font-family: 'Inter';
    src: url(/public/Fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url(/public/Fonts/Futura/FuturaBookItalicBT.ttf);
}

:root {
    --lightgreen: #2DB68F;
    --white: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 80px;
    margin-right: auto;
}

.navLink-container {
    font-family: 'Inter';
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.navLink-container > a {
    font-size: 1.2rem;
    margin: 0 30px;
    color: black;
}
.navLink-container > .active-link {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    color: #2DB68F;
}


/* DRAWER */
.drawer-link {
    font-family: 'Inter';
    color: var(--white);
    font-size: 1.2rem;
}

.active-drawer-link {
    color: var(--lightgreen);
}

.drawer-text {
    margin-top: auto;
    color: var(--white);
    font-family: 'Inter';
    text-align: center;
    font-size: 12px;
}

.contribute {
    background-color: red;
}
