@font-face {
    font-family: 'Inter';
    src: url(/public/Fonts/Inter/Inter-SemiBold.ttf);
}

:root {
    --lightgreen: #2DB68F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 80px;
}

.navLink-container {
    /* width: 100%; */
    font-family: 'Inter';
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.navLink-container > a {
    font-size: 1.2rem;
    margin: 0 30px;
    color: black;
}

.navLink-container > .active-link {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    color: #2DB68F;
}


/* DRAWER */

.drawer-text {
    margin-top: auto;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: black;
    padding: 30px 60px;
    font-family: 'Inter';
    height: fit-content;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}

.first-footer-container {
    max-width: 500px;
    margin-right: 20px;
}

.footer-logo {
    height: 70px;
    margin-bottom: 30px;
}

.first-footer-container > p {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 30px;
}

.social-icon-container {
    display: flex;
}
.social-media {
    font-size: 25px;
    margin-right: 20px;
}

.footer-link {
    max-width: 500px;
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    margin-right: 50px;
}
.footer-link > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.all-right-reserved {
    text-align: center;
    font-size: 1rem;
}

