@font-face {
    font-family: 'Inter';
    src: url(/public/Fonts/Inter/Inter-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    height: 80px;
}

.navLink-container {
    margin: 0 auto;
    font-family: 'Inter';
}

.navLink-container > a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 30px;
    color: black;
}

.navLink-container > .active-link {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    color: #2DB68F;
}

.contact-btn {
    background-color: green;
}